*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box{
    display:flex;
    gap: 2%;
    padding: 2%;
}

.b1,.b2,.b3{
    background-color: blue;
    color: white;
    text-align: center;
    padding: 2%;
    width: 49%;
}
.b2{
    background: green;
}
.b3{
    background-color: crimson;
}

@media(min-width:100px) {
    img{
        width: 40%;
    }
}

@media(max-width:700px){
    img{
        width: 80%;
    }
}